/*Обнуление*/
*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

.wrapp {
	padding: 15px;
}

.container {
	max-width: 900px;
	margin: 0 auto;
}

.title {
	font-size: 36px;
	text-align: center;
	padding: 4px;
}

ul {
	padding: 8px;
}
.list-cats__name {
	text-align: center;
	padding: 4px 0;
	cursor: pointer;
	transition: all 0.4s ease-in;
}

.list-cats__name:hover {
	color: green;
}

.cat {
	text-align: center;
	/* Solve problem with animation */
	/* transition: all 1s ease-in; */
}
.cat__title {
	font-size: 20px;
}
.img__wrapper {
	max-width: 350px;
	margin: 0 auto;
}

.img__foto {
	max-width: 100%;
	cursor: pointer;
}

.card__container.hide {
	display: none;
}

.cat.hide {
	display: none;
}